.right-panel {
    background: linear-gradient(20deg, #d30a40 92%, #ffffff 98%);
    width: 480px;
    margin: 0;
    height: 600px;
    border-radius: 15px;
    border: solid black 4px;
    position: relative;
    z-index: 10;
}

.panel-container-all {
    padding: 20px;
}

.stat-text {
    text-transform: capitalize;
}

.flex-row {
    display: flex;
}

.hw-wrapper {
    display: flex;
    align-items: center;
    border-bottom: groove #757575 3px;
}

.button-blue-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: groove #757575 3px;
}

.height-weight-container {
    width: 50%;
    box-sizing: border-box;
    border-bottom: groove #757575 3px;

}

.right-clear {
    position: absolute;
    top: -10px;
    left: -4px;
    right: 60%;
    background-color: #ffd00f;
    height: 54px;
    z-index: 1200;
    border-bottom: 10px solid black;
}

.left-panel-curve {
    width: 40%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d30a40;
    position: relative;
    z-index: 100;
}

.right-panel-curve {
    background-color: #ffd00f;
    width: 68%;
    height: 117px;
    border-bottom: 10px solid #181818;
    position: relative;
}

.right-background-body {
    height: 118px;
    position: absolute;
    left: 0px;
    right: 0;
    top: 0;
    z-index: 1900;
    background: #ffd00f;
}

.right-panel-curve-clear {
    position: absolute;
    top: -20px;
    left: 0;
    right: -20px;
    height: 138px;
    background-color: #ffd00f;
}

.triangle-square-right {
    content: "";
    height: 96px;
    width: 0px;
    position: absolute;
    background: #d30a40;
    top: 19px;
    left: 170px;
    transform: rotate(136deg);
    z-index: 5;
}

.yellow-background-clear {
    position: absolute;
    height: 100px;
    width: 105px;
    left: 130px;
    top: -4px;
    z-index: 3200;
    background-color: #ffd00f;
    transform: rotate(46deg);
}

.panel {
    width: 42%;
    box-sizing: border-box;
    border: inset #65656563 4px;
    border-radius: 3px;
    height: 100%;
}

.background-2  {
    background: linear-gradient(14deg, #bdbaba 60%, #ded6d6 65%);
    border: inset #3a3a3a 3px;
    
}


.panel-row {
    display: flex;
    padding-bottom: 10px;
    border-bottom: groove #757575 3px;
    justify-content: space-evenly;
}

.types-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-around;
}

.types {
    height: 35px;
    width: 100%;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.9);
    text-transform: capitalize;
    font-size: 1.25em;
    border: groove #757575 3px;
    border-radius: 10px;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.3) -1px 1px;
    align-self: center;
    background: linear-gradient( 15deg, rgba(128, 128, 128, 0.5) 64%, rgba(138, 138, 138, 0.5) 70%, rgba(230, 230, 230, 0.5) 81%, rgba(255, 255, 255, 0.5) 86%, rgba(220, 220, 220, 0.5) 89%, rgba(230, 230, 230, 0.5) 100% );
    background-blend-mode: hard-light;
}

.types-panel {
    height: 50px;
    width: 100%;
    text-transform: capitalize;
    font-size: 1.25em;
    padding: 5px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(14deg, #460f0f 0, #891313 30%, #b31818 45%, #fd5555 65%, #b31818 95%);
    border: groove #e61515 3px;
    border-width: 3px 2px;
    text-shadow: #fd5555 -1px 1px;
    box-sizing: border-box;
}

.flex-column { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
}

.statics-container {
    padding: 10px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fs-24 {
    font-size: 24px !important;
}

.statics-container p {
    margin: 0 0 3px;
    padding: 0;
    font-size: 16px;
}

.padding-10 {
    padding: 10px;
}

.screen-right-panel-wrapper {
    width: 100%;
    box-sizing: border-box;
    border: inset #65656563 4px;
    border-radius: 3px;
    height: 434px;
}

.blue-button {
    height: 32px;
    width: 23%;
    margin: 3px;
    border: groove #6c96e6 3px;
    border-radius: 5px;
    box-sizing: border-box;
    background: linear-gradient( 15deg, rgba(128, 128, 128, 0.5) 64%, rgba(138, 138, 138, 0.5) 70%, rgba(230, 230, 230, 0.5) 81%, rgba(255, 255, 255, 0.5) 86%, rgba(220, 220, 220, 0.5) 89%, rgba(230, 230, 230, 0.5) 100% );
    background-blend-mode: hard-light;
    background-color: #09a8ff;
}

.fs-35 {
    font-size: 35px !important;
}

.fw-bold {
    font-weight: bold !important;
}

.normal{
    background-color :#8b647d ;
}

.fighting {
    background-color: #e13620;
}

.flying {
    background-color: #6ea4bb;
}

.poison {
    background-color: rgb(64, 90, 165);
}

.ground {
    background-color: #c5915d;
}

.rock {
    background-color: #5b6370;
}

.bug {
    background-color:  #f2684a;
}

.ghost {
    background-color: #736220;
}

.steel {
    background-color: #6a6a6a;
}

.fire {
    background-color: #c04c4b;
}

.water {
    background-color: #6376b8;
}

.grass {
    background-color: #57af51;
}

.electric {
    background-color: #ffcd00;
}

.psychic {
    background-color: #463950;
}

.ice {
    background-color: #dedede;
}

.dragon {
    background-color: #de5239;
}

.dark {
    background-color: #2f3336;
}

.fairy {
    background-color: #f099a8;
}

.unknown {
    background-color: #b3a125;
}

.shadow {
    background-color: #7b675b;
}

